{% extends "base.html" %}
{% load static %}

{% block title %} Notes {% endblock %}

{% block content %}
    {% include 'notes/inclusions/add_note_modal.html' %}
    <div id="notesWrp" class="row"></div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            const notes = [
                {
                    id: 1,
                    title: "Note Title",
                    text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet cumque delectus dolore dolorem earum eos est et excepturi id impedit incidunt ipsum laborum laudantium maiores molestiae nemo nisi odit pariatur quo recusandae reiciendis reprehenderit repudiandae sunt veniam vero voluptas voluptate voluptates, voluptatibus? Aliquam at nisi quam quibusdam repudiandae.",
                    created: "2 days ago",
                },
                {
                    id: 2,
                    title: "Note Title",
                    text: "Test",
                    created: "2 days ago",
                },
                {
                    id: 3,
                    title: "Note Title",
                    text: "Test",
                    created: "2 days ago",
                },
            ];

            function renderNotes() {
                for (const note of notes) {
                    appendNote(note.id, note.title, note.text, note.created);
                }
            }

            function initialize() {
                renderNotes();
                hideLoading();
            }

            initialize();
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        @import "{% static 'css/notes.css' %}";
    </style>
{% endblock %}
