{% extends "base.html" %}
{% load static %}

{% block title %} Notes {% endblock %}

{% block content %}
    <div
            id="addNoteModal"
            class="modal fade"
            tabindex="-1"
            aria-labelledby="addNoteModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <form>
                <div class="modal-content component">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 fw-semibold text-primary" id="addNoteModalLabel">
                            Note creation
                        </h1>
                        <button
                                class="btn-close"
                                type="button"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        >
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="titleInput" class="form-label">Title</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="titleInput"
                                    placeholder="Enter a note title..."
                            >
                        </div>
                        <div class="mb-3">
                            <label for="textInput" class="form-label">Text</label>
                            <textarea
                                    class="form-control"
                                    id="textInput"
                                    placeholder="Enter a note text..."
                                    rows="6"
                            >
                            </textarea>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button
                                id="addNoteBtn"
                                type="submit"
                                class="btn btn-outline-primary btn-action"
                        >
                            Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 bg-white rounded-5 shadow-sm">
        <div class="note-item component shadow-none">
            <div class="d-flex">
                <a class="note-item__title link-primary" href="#">Note Title</a>
                <span class="ms-auto text-muted">2 days ago</span>
            </div>
            <hr class="divider my-1">
            <p class="note-item__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aliquam amet cumque delectus dolore dolorem earum eos est
                et excepturi id impedit incidunt ipsum laborum laudantium
                maiores molestiae nemo nisi odit pariatur quo recusandae
                reiciendis reprehenderit repudiandae sunt veniam vero voluptas
                voluptate voluptates, voluptatibus? Aliquam at nisi quam quibusdam
                repudiandae.
            </p>
        </div>
        <button class="btn btn-outline-primary note__edit-btn fw-semibold border-0">Edit</button>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            const addNoteBtn = $("#addNoteBtn");
            const removeNotesBtn = $("#removeNotesBtn");

            function addNote() {

            }

            addNoteBtn.on('click', addNote);

            function initialize() {
                hideLoading();
            }

            initialize();
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        .btn-action {
            border-radius: 2rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .note-item {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
            width: 100%;
            overflow: hidden;
        }

        .note-item__title {
            font-weight: bold;
            text-decoration: none;
        }

        .note-item__text {
            display: block;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            margin: 0;
        }

        .note__edit-btn {
            width: 100%;
            border-radius: 0 0 var(--common-rounding) var(--common-rounding);
        }
    </style>
{% endblock %}
