<div
        id="addNoteModal"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="addNoteModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <form>
            <div class="modal-content component p-0">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5 fw-semibold text-primary" id="addNoteModalLabel">
                        Note creation
                    </h1>
                    <button
                            class="btn-close"
                            type="button"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    >
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="titleInput" class="form-label">Title</label>
                        <input
                                type="text"
                                class="form-control underline-input"
                                id="titleInput"
                                placeholder="Enter a note title..."
                        >
                    </div>
                    <div class="mb-3">
                        <label for="textInput" class="form-label">Text</label>
                        <textarea
                                class="form-control underline-input"
                                id="textInput"
                                placeholder="Enter a note text..."
                                rows="6"
                        >
                            </textarea>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button
                            id="addNoteBtn"
                            type="submit"
                            class="btn btn-outline-primary btn-action"
                    >
                        Create
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .underline-input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        outline: 0 !important;
        box-shadow: none !important;
        border-radius: 0;
    }
</style>
