@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F5F4FB;
}

.component {
    border-radius: var(--bs-border-radius-xxl);
    padding: 1rem;
    background-color: var(--bs-white);
    box-shadow: var(--bs-box-shadow-sm);
}

#footer {
    background-color: var(--dark-purple) !important;
}

.btn-action {
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
