<div id="footer" class="component bg-dark text-white text-center">
    <div class="footer">
        <h2>About</h2>
        <p>
            The project is designed for integration with the MEGA cloud storage service. This service provides
            the ability to create text files/notes and then save them to a connected MEGA account.
        </p>
        <hr class="divider border-2">
        <small>
            All rights reserved © 2023 - 2024
            <a
                    class="link-primary text-decoration-none"
                    href="https://github.com/FCTL3314/TextNotes-Mega"
                    target="_blank"
            >
                MEGA Notes
            </a>
        </small>
    </div>
</div>