<div class="component mb-3">
    <div class="d-flex">
        <h1 class="fw-semibold mb-0" style="width: max-content">
            <span class="text-danger fw-bold mb-0">MEGA</span>
            <span class="h2 text-dark-emphasis fw-semibold mb-0">Notes</span>
        </h1>
        <div class="ms-auto d-flex align-items-center" style="width: max-content">
            <button
                    class="btn btn-outline-primary btn-action fw-semibold me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#addNoteModal"
            >
                Add
            </button>
            <button
                    id="removeNotesBtn"
                    class="btn btn-outline-danger btn-action fw-semibold me-3"
            >
                Remove
            </button>
            <a class="btn btn-outline-dark btn-action fw-semibold">Settings</a>
        </div>
    </div>
</div>
